/* CSS declarations go here */
body {
	font-family: sans-serif;
	background-color: #ffffff;
	font-size: 1em;
	overflow: hidden;
}
.container {
	max-width: 600px;
	margin: 0em auto 0em auto;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	overflow: hidden;
	position: absolute;
	background: white;
	padding: .25em;
}
.body {
	background-attachment: fixed;
	position: absolute;

	top: 0em;
	bottom: 0em;
	left: 0em;
	right: 0em;
}
.browser_body {
	background-color: #315481;
	background-image: linear-gradient(to bottom, #315481, #918e82 100%);
}
* {
	-webkit-user-select: none;
}
table th {
	text-align: left;
}
h1 {
	margin-top: 0;
}

a.play {
	display: inline-block;
	-moz-box-shadow:inset 0px 20px 26px 0px #b6cde3;
	-webkit-box-shadow:inset 0px 20px 26px 0px #b6cde3;
	box-shadow:inset 0px 20px 26px 0px #b6cde3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6197CE), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #6197CE 5%, #378de5 100% );
	background-color:#6197CE;
	-moz-border-radius:.8em;
	-webkit-border-radius:.8em;
	border-radius:.8em;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .85em;
	padding: .7em 1.75em;
	text-decoration:none;
	width: 6em;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	margin: 0 0 0 1em;
}

a.play:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background-color: #e3e3e3;
	border-color: rgba(0,0,0,0.5);
}

a.play:active {
	position:relative;
	top:1px; left: 1px;
	background-color: #CCC;
	border-color: rgba(0,0,0,0.9);
}

#controls {
	font-family:sans-serif;
	font-size:1.5em;
	font-weight:bold;
	margin: 1em;
}

#syncStatus, #container {
	margin-left: 1em;
}

#controls * {
	margin: .35em;
	display:inline-block;
	clear: both;
}
.tempoBox, .resolutionBox{
	margin-top: .5em;
	margin-left: 1em;
}
#beat_resolution {
	margin-left: .7em;
}
#animation {
	display: none;
	width: 100%;
}
.animationBox {
	padding: 0.5em 1em 0em 1em;
}
#tempo {
	width: 50%;
	margin-left: 1em;
	margin-right: 2em;
	float: right;
}
